/* Common general styles */
.hidden {
  display: none;
}

.rotate90 {
  transform: rotate(90deg);
}

.rotate180 {
  transform: rotate(180deg);
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-thumb {
  background: #999;
}

/* Common style (to all button of all sizes) */
.gg-button {
  border: none;
  background-color: transparent;
  display: flex;
  flex-direction: column;
  color: var(--text-color);
}
.gg-button:hover {
  background-color: var(--bkg-color-grad1);
  cursor: pointer;
}
.gg-small {
  min-width: 2rem;
  height: 2rem;
  align-items: center;
  padding: 0.5rem;
}
.gg-small img {
  overflow: hidden;
}
.gg-small span {
  width: 100%;
  text-align: left;
  overflow: hidden;
  text-overflow: ellipsis;
}
.gg-check {
  padding: 0.2rem;
}
.gg-label {
  text-align: left;
  padding-left: 0;
  white-space: nowrap;
}
.gg-grab:hover {
  cursor: grab;
}
.gg-spacer {
  padding: 0;
}
.gg-opacity {
  opacity: 0.5;
}
.gg-opacity:hover {
  background-color: transparent;
  opacity: 1;
}
.gg-selected {
  font-weight: 700;
  opacity: 1;
}

/* TODO REG : Suppress all the following styles when the migration is done. */
.girafe-button-big,
.girafe-button-medium,
.girafe-button-large,
.girafe-button-small,
.girafe-button-tiny {
  border: none;
  background-color: transparent;
  display: flex;
  flex-direction: column;
  color: var(--text-color);
}
.girafe-button-big:hover,
.girafe-button-medium:hover,
.girafe-button-large:hover,
.girafe-button-small:hover,
.girafe-button-tiny:hover {
  background-color: var(--bkg-color-grad1);
  cursor: pointer;
}

.girafe-button-big.dark,
.girafe-button-medium.dark,
.girafe-button-large.dark,
.girafe-button-small.dark,
.girafe-button-tiny.dark {
  background-color: var(--bkg-color);
  filter: invert(1);
}

img {
  filter: var(--svg-filter);
}

/* Big button (icon only) */
.girafe-button-big {
  width: 4rem;
  height: 4rem;
  align-items: center;
  padding: 1rem;
}
.girafe-button-big img {
  overflow: hidden;
}

/* Medium button (icon or icon + text) */
.girafe-button-medium {
  flex-direction: column;
  width: 4rem;
  align-items: center;
}
.girafe-button-medium img {
  margin: 1rem;
  width: 1.5rem;
}
.girafe-button-medium span {
  display: block;
  margin-top: -0.8rem;
  margin-bottom: 0.8rem;
}

/* Large button (long text or icon + long text) */
.girafe-button-large {
  flex-direction: row;
}
.girafe-button-large img {
  margin: 0.3rem;
  height: 2rem;
}
.girafe-button-large span {
  line-height: 2rem;
  height: 2rem;
  margin: 0.3rem;
}

/* Small button (icon only) */
.girafe-button-small {
  min-width: 2rem;
  height: 2rem;
  align-items: center;
  padding: 0.5rem;
}
.girafe-button-small img {
  overflow: hidden;
}
.girafe-button-small span {
  width: 100%;
  text-align: left;
  overflow: hidden;
  text-overflow: ellipsis;
}

/* Tiny button (icon only with no padding) */
.girafe-button-tiny {
  width: 1rem;
  height: 1rem;
  align-items: center;
  padding: 0;
}
.girafe-button-tiny img {
  overflow: hidden;
}
